<div class="row mt-2">
    <% if (theme.footer) { %>
        <p id="copyright">
            本博客所有文章除特别声明外，均采用 <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 许可协议，转载请注明出处。
            <a href="/atom.xml" target="_blank" rel="noopener" class="btn btn-outline-secondary btn-sm">rss订阅</a>
        </p>
    <% } %>
  </div>